@import url('https://fonts.googleapis.com/css2?family=orbitron:wght@400;600&display=swap');

body{
    background: black;
}
.clock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 60px;
    font-family: orbitron;
    letter-spacing: 7px;
}
